    <!doctype html>
<html lang="en">
<head>
    {% load staticfiles %}
    <title>Wanderlust</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Rubik:300,400,700"
          rel="stylesheet">
    <link href="/static/css/style(1).css" type="text/css" rel="stylesheet" media="all"  charset="utf-8">
    <link href="/static/css/bootstrap(1).css" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="all" property="" />
    <script src="/static/js/jquery-2.2.3.min.js"></script>

    <script type="text/javascript" src="/static/js/sheng.js"></script>

    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">




    <link rel="stylesheet" href="/static/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="/static/css/style.css">


</head>
<body>

<header role="banner">

    <nav class="navbar navbar-expand-md navbar-dark bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">Wanderlust</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
                    aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">首页</a>
                    </li>
              <li class="nav-item dropdown">
                <a class="nav-link " href="{% url 'spots' %}" >评论荟萃</a>
              </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog' %}">旅行博客</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'travel' %}">高效搜罗</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">问题反馈</a>
                    </li>

                    {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link">欢迎您，{{ request.user.username }}</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="{% url 'logout' %}">注销</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item cta">
                            <a class="nav-link" href="{% url 'login' %}"><span>登录</span></a>
                        </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>
</header>
<!-- END header -->

<section class="site-hero site-hero-innerpage overlay" data-stellar-background-ratio="0.5"
         style="background-image: url(/static/images/big_image_1.jpg);">
    <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
            <div class="col-md-12 text-center">

                <div class="mb-5 element-animate">
                    <h1>让我们即刻出发！</h1>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- END section -->
{% block content %}
{% endblock %}

<footer class="site-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4">
                <h3>联系方式</h3>
                <p class="lead"><a href="tel://">+ 138 6046 8489</a></p>
                <p><a href="mailto:kokoro7curie@gmail.com"> kokoro7curie@gmail.com</a></p>
            </div>
            <div class="col-md-4">
                <h3>如何找到我们</h3>
                <p>关注我们团队的社交平台</p>
                <p>
                    <a href="#" class="pl-0 p-3"><span class="fa fa-facebook"></span></a>
                    <a href="#" class="p-3"><span class="fa fa-twitter"></span></a>
                    <a href="https://www.instagram.com/curie_jockey/" class="p-3"><span class="fa fa-instagram"></span></a>
                    <a href="#" class="p-3"><span class="fa fa-vimeo"></span></a>
                    <a href="#" class="p-3"><span class="fa fa-youtube-play"></span></a>
                </p>
            </div>
            <div class="col-md-4">
                <h3>如何联系我们</h3>
                <p>发送邮件</p>
                <form action="#" class="subscribe">
                    <div class="form-group">
                        <button type="submit"><span class="ion-ios-arrow-thin-right"></span></button>
                        <input type="email" class="form-control" placeholder="Enter email">
                    </div>

                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                &copy;
                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                by RB,Irene and Curie

            </div>
        </div>
    </div>
</footer>
<!-- END footer -->

<!-- loader -->
<div id="loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#f4b214"/>
    </svg>
</div>

<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/jquery-migrate-3.0.0.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/jquery.waypoints.min.js"></script>
<script src="/static/js/jquery.stellar.min.js"></script>

<script src="/static/js/jquery.magnific-popup.min.js"></script>
<script src="/static/js/magnific-popup-options.js"></script>

<script src="/static/js/main.js"></script>
<a href="#" id="toTop" style="display: inline;"><span id="toTopHover" style="opacity: 0;"></span>To Top</a>
</body>
</html>