{% extends 'base.html' %}
{% block content %}

  <div class="w3_wthree_agileits_icons main-grid-border">
    <div class="container">
        <div class="w3ls-heading">
            <h2 class="h-two">收藏夹 | 旅行搜罗</h2>
            <p class="sub t">我们为您提供快速的在线旅行工具通道</p>
        </div>
        <div class="grid_3 grid_4 w3_agileits_icons_page">
            <div class="icons">

                <section id="new">
                    <h3 class="page-header page-header icon-subheading">度假综合(7) </h3>

                    <div class="row fontawesome-icon-list">
                        <div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="https://www.ctrip.com/"><i class="fa fa-asl-interpreting" aria-hidden="true"></i> 携程 <span class="text-muted">(中国最大的OTA平台)</span></a></div>

                        <div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="http://music.163.com/m/song?id=411574733&userid=342829204"><i class="fa fa-audio-description" aria-hidden="true"></i>飞猪 <span class="text-muted">(阿里巴巴旗下旅行网站)</span></a></div>

                        <div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="https://www.mustardseed.cn/"><i class="fa fa-blind" aria-hidden="true"></i> 慕溪北欧旅游 <span class="text-muted">(最专业的北欧旅行公司)</span></a></div>


                        <div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="https://www.qunar.com/"><i class="fa fa-pied-piper" aria-hidden="true"></i> 去哪儿 <span class="text-muted">(全球最大的中文在线旅行网站)</span></a></div>

                        <div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="http://www.lotour.com/"><i class="fa fa-question-circle-o" aria-hidden="true"></i> 乐途旅游网 <span class="text-muted">(在线专业旅游媒体以及增值服务提供商)</span></a></div>

                        <div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="https://www.tripadvisor.cn/"><i class="fa fa-sign-language" aria-hidden="true"></i> 猫途鹰 <span class="text-muted">(汇聚全球旅人点评与建议的网站)</span></a></div>

                        <div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="http://www.mangocity.com/"><i class="fa fa-yoast" aria-hidden="true"></i> 芒果网 <span class="text-muted">(中国旅行集团旗下网站)</span></a></div>

                    </div>

                </section>

                         <div class="grid_3 grid_4 w3_agileits_icons_page">
						    <div class="icons">

							 <section id="new">
								<h3 class="page-header page-header icon-subheading">自助深度游(4) </h3>

								<div class="row fontawesome-icon-list">


									<div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="http://www.youxiake.com/"><i class="fa fa-adjust"></i> 游侠客 <span class="text-muted">(国内首家"社交网络+旅游电子商务平台"的旅行网站)</span></a></div>

                                    <div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="http://www.zhuyouyou.com/"><i class="fa fa-anchor"></i> 猪悠游 <span class="text-muted">(专注于欧洲体验式自由行的网站)</span></a></div>

                                    <div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="https://www.vayable.com/"><i class="fa fa-archive"></i> Vayable <span class="text-muted">(在全球提供本地旅游线路和相关服务的网站)</span></a></div>

                                    <div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="http://www.xianlvke.com/"><i class="fa fa-female"></i> 鲜旅客 <span class="text-muted">(国内首家提供境外导游服务的预约平台)</span></a></div>

								  </div>

								</section>

                         <div class="grid_3 grid_4 w3_agileits_icons_page">
						    <div class="icons">

							 <section id="new">
								<h3 class="page-header page-header icon-subheading">酒店/机票(8) </h3>

								<div class="row fontawesome-icon-list">

									<div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="https://zh.airbnb.com/"><i class="fa fa-check-square"></i> 爱彼迎 <span class="text-muted">(P2P短租预约平台的鼻祖)</span></a></div>

									<div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="https://www.booking.com/index.zh-cn.html?label=gen173rf-1BCAEoggI46AdIM1gDaDGIAQGYASu4ARfIAQzYAQHoAQGIAgGiAg1nby5oYW8xMjMuY29tqAIDuALc0N7kBcACAQ;sid=9eb69e0889e115c722bef7ccee28381f;keep_landing=1&sb_price_type=total&"><i class="fa fa-check-square-o"></i> 缤客 <span class="text-muted">(全球规模最大的旅游电子商务公司之一)</span></a></div>

									<div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="http://www.xiaozhu.com/"><i class="fa fa-circle"></i> 小猪短租 <span class="text-muted">(国内知名的短租民宿预订平台)</span></a></div>

									<div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="http://www.bthhotels.com/"><i class="fa fa-minus-square-o"></i> 首旅如家 <span class="text-muted">(国内最大的酒店管理集团之一)</span></a></div>

									<div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="http://www.variflight.com/"><i class="fa fa-plus-square"></i> 飞常准 <span class="text-muted">(全球领先的航班数据服务公司)</span></a></div>

									<div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="https://www.12306.cn/index/"><i class="fa fa-plus-square-o"></i> 12306 <span class="text-muted">(铁路服务客户的重要窗口)</span></a></div>

									<div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="https://flight.qunar.com/"><i class="fa fa-square"></i> 去哪儿机票 <span class="text-muted">(提供国内2600多条航线的服务网站)</span></a></div>

									<div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="https://www.ch.com/"><i class="fa fa-square-o"></i> 春秋航空 <span class="text-muted">(国内首家由旅行社起家的低成本航空公司)</span></a></div>

								  </div>

								</section>

                            <div class="grid_3 grid_4 w3_agileits_icons_page">
						    <div class="icons">

							 <section id="new">
								<h3 class="page-header page-header icon-subheading">穷游攻略(2) </h3>

								<div class="row fontawesome-icon-list">

									<div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="https://www.qyer.com/"><i class="fa fa-bitcoin"></i> 穷游网 <span class="text-muted">(旅游攻略分享社区)</span></a></div>

									<div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="https://www.mafengwo.cn/"><i class="fa fa-btc"></i> 马蜂窝 <span class="text-muted">(旅游社交分享网站)</span></a></div>

									<div class="clearfix"></div>
                                </div>

                            </section>



                            </div>
                        </div>
                            <div class="grid_3 grid_4 w3_agileits_icons_page">
						    <div class="icons">

							 <section id="new">
								<h3 class="page-header page-header icon-subheading">旅游常识(3) </h3>

								<div class="row fontawesome-icon-list">

									<div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="http://www.cntour2.com/knowledge/EmergencyPhone.shtml"><i class="fa fa-check-square"></i> 紧急电话名单</a></div>

									<div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="http://www.kaixinbao.com/lvyou-baoxian/guonei/"><i class="fa fa-check-square-o"></i> 国内旅游保险</a></div>

									<div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="http://www.4008000000.com/zhuanti/lvyou/lvyoujiuyuan.shtml"><i class="fa fa-circle"></i> 旅游救援服务</a></div>

								  </div>

								</section>


                      </div>
					</div>
                            <div class="grid_3 grid_4 w3_agileits_icons_page">
						    <div class="icons">

							 <section id="new">
								<h3 class="page-header page-header icon-subheading"> 投稿专栏(1) </h3>

								<div class="row fontawesome-icon-list">

									<div class="icon-box col-md-3 col-sm-4"><a class="agile-icon" href="http://www.dili360.com/"><i class="fa fa-check-square"></i> 中国国家地理<span class="text-muted">(一本可以用来投稿旅游摄影的杂志)</span></a></div>


								  </div>

								</section>


                            </div>
					</div>
				         </div>

		</div>
	</div>
<!-- //icons -->
  </div>

{% endblock %}