body{
	margin:0;
	font-family: 'Roboto', sans-serif;
	background: #fff;
}

body a{
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
	text-decoration:none;
}

h1,h2,h3,h4,h5,h6{
	margin:0;
}
p{
	margin:0;
}
.grid_3{
	margin-bottom:3em;
}
.grid_4{
	background:none;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
}
h3.icon-subheading {
    font-size: 28px;
    color: #ffae00 !important;
    margin: 30px 0 15px;
    font-weight: 600;
    letter-spacing: 2px;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 33px;
    color: #222222;
    font-weight: 600;
    letter-spacing: 2px;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
.w3_wthree_agileits_icons.main-grid-border {
    padding: 5em 0;
}
.grid_3{
	margin-bottom:2em;
}
.grid_4{
	background:none;
	margin-top:50px;
}
ul.bs-glyphicons-list {
    padding: 0;
}
.w3ls-heading h3, .w3ls-heading h2 {
    text-align: center;
    color: #0d3172;
    text-transform: uppercase;
    margin: 0 0 .5em;
    font-size: 2.8em;
    letter-spacing: 1px;
}
.w3ls-heading p.sub {
    position: relative;
    text-align: center;
    color: #444;
    line-height: 1.8em;
    padding-bottom: 1.5em;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 600;
}
p.sub:after {
    content: '';
    background: #ffae00;
    height: 2px;
    position: absolute;
    bottom: 0%;
    left: 45%;
    width: 10%;
}
.w3-agile-top-info {
    margin-top: 3em;
}
